################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user

_ReSharper.*
*.ncrunchsolution.user

.vs
.idea

bin
obj
packages