<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  
  <extensions>
    <add assembly="NLog.Layouts.GelfLayout" />
  </extensions>

  <targets async="true">
    <target xsi:type="File" name="File" filename="C:\logs\GraylogNlog_${shortdate}.txt" layout="${longdate}|${level:upperCase=true}|${logger}|${aspnet-Request-Method}|url: ${aspnet-Request-Url}${aspnet-Request-QueryString}|${message}" concurrentWrites="false" />
    
    <target xsi:type="Network" name="GelfHttp" address="http://localhost:12201/gelf" layout="${gelf:facility=GraylogNlog}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="File, GelfHttp" />
  </rules>
</nlog>