<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Layouts.GelfLayout" />
    </extensions>

    <variable name="methodInfo"
              value="${callsite:className=true:includeNamespace=false:fileName=true:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}" />
    <variable name="layout"
              value="${longdate}|${pad:padding=4:inner=${threadid}}|${pad:padding=-5:inner=${uppercase:${level}}}|${mdc:item=RequestGuid}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />
    <variable name="logPath"
              value="${basedir}/Log" />

    <targets async="true">
        <target name="AsyncWrapper"
                xsi:type="AsyncWrapper"
                overflowAction="Grow"
                queueLimit="50000"
                batchSize="500"
                timeToSleepBetweenBatches="0">
            <target name="file"
                    xsi:type="File"
                    encoding="utf-8"
                    keepFileOpen="true"
                    openFileCacheTimeout="30"
                    maxArchiveFiles="0"
                    archiveFileName="${logPath}/${shortdate}/${date:format=HHmm}.{#}.log"
                    archiveNumbering="Sequence"
                    archiveAboveSize="10485760"
                    fileName="${logPath}/${shortdate}.log"
                    layout="${layout}" />
        </target>

        <target xsi:type="Network" name="GelfTcp" address="tcp://127.0.0.1:12201" newLine="true" lineEnding="Null">
            <layout type="GelfLayout" facility="GelfTcp">
                <field name="threadid" layout="${threadid}" />
                <field name="levelName" layout="${uppercase:${level}}" />
                <field name="url" layout="${aspnet-request-url}" />
                <field name="methodInfo" layout="${methodInfo}" />
            </layout>
        </target>

    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="AsyncWrapper, GelfTcp" />
    </rules>
</nlog>