<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <extensions>
    <!-- https://github.com/mantasaudickas/NLog.Gelf -->
    <add assembly="NLog.Gelf" />
  </extensions>

  <variable name="methodInfo"
            value="${callsite:className=true:includeNamespace=false:fileName=true:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}" />
  <variable name="layout"
            value="${longdate}|${pad:padding=4:inner=${threadid}}|${pad:padding=-5:inner=${uppercase:${level}}}|${mdc:item=RequestGuid}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />
  <variable name="logPath"
            value="${basedir}/Log" />

  <targets async="true">
    <target name="AsyncWrapper"
            xsi:type="AsyncWrapper"
            overflowAction="Grow"
            queueLimit="50000"
            batchSize="500"
            timeToSleepBetweenBatches="0">
      <target name="file"
              xsi:type="File"
              encoding="utf-8"
              keepFileOpen="true"
              openFileCacheTimeout="30"
              maxArchiveFiles="0"
              archiveFileName="${logPath}/${shortdate}/${date:format=HHmm}.{#}.log"
              archiveNumbering="Sequence"
              archiveAboveSize="10485760"
              fileName="${logPath}/${shortdate}.log"
              layout="${layout}" />
    </target>

    <target name="GelfHttp" 
            xsi:type="GelfHttp" 
            serverUrl="http://localhost:11101/gelf" 
            facility="GraylogNlog" 
            layout="${layout}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="AsyncWrapper, GelfHttp" />
  </rules>
</nlog>